<p><strong><%= user.name %></strong>, sinu konto on valmis</p>

<p><small>Said selle e-kirja, kuna lõid endale konto aadressil <a href="https://<%= hostname %>"><%= hostname %></a>, kasutades oma e-posti aadressi</small></p>
