<form action="/edit-project" method="post">

    <h3>Muuda makselahenduse andmeid</h3>

    <% include project-form %>

    <hr />

    <h4>Sertifikaadi valikud</h4>

    <% if(userCertificate.expires > new Date()){%>
        <p>Makselahenduse sertifikaat kehtib kuni <code><%= userCertificate.expires %></code></p>
    <% } %>

    <% if(userCertificate.expires <= new Date()){%>
        <p><strong>Makselahenduse sertifikaat on aegunud!</strong> Makselahenduse kasutamiseks pead genereerima uue sertifikaadi</p>
    <% } %>

    <div class="control-group <% if(validation.keyBitsize){%>error<%}%>"  style="<%= bank != "nordea" ? "display: block;" : "display:none;" %>">
        <label class="control-label" for="keyBitsize">Võtme pikkus</label>
        <div class="controls">
            <select name="keyBitsize" id="keyBitsize">
                <option <% if(keyBitsize == 1024){ %> selected<% } %> value="1024">1024 bitti</option>
                <option <% if(keyBitsize == 2048 || !keyBitsize){ %> selected<% } %> value="2048">2048 bitti</option>
                <option <% if(keyBitsize == 4096){ %> selected<% } %> value="4096">4096 bitti</option>
            </select>

            <% if(validation.keyBitsize){%>
                <span class="help-inline"><%= validation.keyBitsize %></span>
            <%}%>
        </div>
        <span class="help-block">Võtme pikkuse vahetamine mõjutab ainult edaspidi genereeritavaid võtmeid, aga mitte hetkel kasutusel olevat</span>
    </div>

    <label class="checkbox">
      <input type="checkbox" value="uus" name="regenerate" id="regenerate" <% if(userCertificate.expires <= new Date()){%>checked<%}%>/>
      Genereeri uus sertifikaat (vana sertifikaat kaotab kehtivuse)
    </label>

    <hr />

    <div class="pull-right">
        <a class="btn btn-danger" href="/delete-project/<%= id %>" onclick="return confirm('Kas oled ikka kindel, seda otsust ei ole võimalik hiljem enam tagasi võtt?')"><i class="icon-minus-sign"></i> Kustuta see makselahendus</a>
    </div>

    <button type="submit" class="btn">Muuda makselahenduse andmeid</button>
</form>
