<form action="/reset-link" method="post">

    <div class="page-header">
        <h2>Uuenda parooli</h2>
    </div>

    <div class="control-group">
        <label class="control-label" for="username">E-posti aadress</label>
        <div class="controls">
           <input class="span3" type="email" name="username" id="username" value="<%= username %>" placeholder="user@example.com" required/>
        </div>
    </div>

    <button type="submit" class="btn">Uuenda parool</button>
</form>
