<form action="/reset-password" method="post">

    <h3>Uuenda parool</h3>

    <p>Uue parooli genereerimiseks kasutajale e-posti aadressiga <strong><%= username %></strong>, kliki järgmisel nupul</p>

    <input type="hidden" name="username" value="<%= username %>" />
    <input type="hidden" name="resetToken" value="<%= resetToken %>" />

    <button type="submit" class="btn">Loo uus parool</button>
</form>
