            </div>

            <div id="push"></div>
        </div>

        <div id="footer">
          <div class="container">
            <p class="muted credit">&copy; 2011 - <%= new Date().getFullYear() %> <a href="/">pangalink.net</a>, Andris Reinman <a href="mailto:andris@kreata.ee">andris@kreata.ee</a> | <a href="https://github.com/andris9/pangalink.net">Pangalink.net lähtekood on alla laetav GitHubist</a></p>
          </div>
        </div>

        <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-51322-38']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

        </script>
    </body>
</html>
